<div class="form-group">
    <label for="name" class="col-sm-2 control-label">
        <f:translate key="tx_hotelbooking_domain_model_booking.name" />
    </label>
    <div class="col-sm-10">
        <f:form.textfield id="name" class="form-control name" property="name" />
    </div>
</div>
<div class="form-group">
    <label for="beginDate" class="col-sm-2 control-label">
        <f:translate key="tx_hotelbooking_domain_model_booking.begin_date" />
    </label>
    <div class="col-sm-10">
        <f:form.textfield id="beginDate" class="form-control datepicker" property="endDate" />
    </div>
</div>
<div class="form-group">
    <label for="endDate" class="col-sm-2 control-label">
        <f:translate key="tx_hotelbooking_domain_model_booking.end_date" />
    </label>
    <div class="col-sm-10">
        <f:form.textfield id="endDate" class="form-control datepicker" property="beginDate" />
    </div>
</div>
<div class="form-group">
    <label for="price" class="col-sm-2 control-label">
        <f:translate key="tx_hotelbooking_domain_model_booking.price" />
    </label>
    <div class="col-sm-10">
        <f:form.textfield id="price" class="form-control price" property="price" />
    </div>
</div>
<f:form.hidden property="uidForeign" />