<f:layout name="Default" />

<f:section name="main">

    <h1>Gestion des chambres</h1>
    <f:link.action action="list" controller="Rent" class="btn btn-success pull-right">Liste des rents</f:link.action>

    <div id='calendar' style="margin-top: 60px;"></div>

    <script type="text/javascript">


        $(document).ready(function(){/*<![CDATA[*/
            /*]]>*/var allSettings = '{json->f:format.htmlentitiesDecode(keepQuotes: 0)}';
            /*<![CDATA[*/
            /*]]>*/var settings = $.parseJSON(allSettings);

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                lang: 'fr',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: settings,
            });});/*<![CDATA[*/
    /*]]>*/</script>


</f:section>
