<f:layout name="Default" />

<f:section name="main">
  <h1>{rent.name}</h1>

  <f:flashMessages renderMode="div" />

  <f:link.action action="list" class="btn btn-primary pull-left">Retourer à la liste des locations</f:link.action>
  <f:link.action action="new" controller="Booking" class="btn btn-success pull-right" arguments="{rent:rent}">Nouvelle resérvation</f:link.action>
  <f:comment><f:link.action action="listByRent" controller="Booking" arguments="{rent:rent}">List Booking</f:link.action>
    <f:link.action action="new" controller="Price" class="btn btn-success" arguments="{rent:rent}">New Price</f:link.action>
    <f:link.action action="list" controller="Price" class="btn btn-primary" arguments="{rent:rent}">List Price</f:link.action>
  </f:comment>
  <div id='calendar' style="margin-top: 60px;"></div>

  <script>

    $(document).ready(function() {

      var allSettings = '{json->f:format.htmlentitiesDecode(keepQuotes: 0)}';
      var settings = $.parseJSON(allSettings);

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        lang: 'fr',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: settings,
        dayClick: function(date, event) {
          $('#modal-new-booking').find('.modal-body input#beginDate').val(moment(date).format("DD/MM/YYYY"));
          $('#modal-new-booking').modal('show');
        }
      });

    });

  </script>

    <!-- Modal -->
    <div class="modal fade" id="modal-new-booking" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <f:form action="create" name="newBooking" object="{newBooking}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            <f:translate key="tx_hotelbooking_domain_model_booking.new"/>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <f:render partial="FormErrors" arguments="{object:Booking}"/>
                        <div class="form-group">
                            <label for="name">
                                <f:translate key="tx_hotelbooking_domain_model_booking.name"/>
                            </label>
                            <f:form.textfield id="name" class="form-control name" property="name"/>
                        </div>
                        <div class="form-group">
                            <label for="beginDate">
                                <f:translate key="tx_hotelbooking_domain_model_booking.begin_date"/>
                            </label>
                            <f:form.textfield id="beginDate" class="form-control datepicker" property="beginDate"/>
                        </div>
                        <div class="form-group">
                            <label for="endDate">
                                <f:translate key="tx_hotelbooking_domain_model_booking.end_date"/>
                            </label>
                            <f:form.textfield id="endDate" class="form-control datepicker" property="endDate"/>
                        </div>
                        <div class="form-group">
                            <label for="price">
                                <f:translate key="tx_hotelbooking_domain_model_booking.price"/>
                            </label>
                            <f:form.textfield id="price" class="form-control price" property="price"/>
                        </div>
                        <f:form.hidden property="uidForeign"/>
                    </div>
                    <div class="modal-footer">
                        <f:form.submit class="btn btn-success"
                                       value="{f:translate(key:'tx_hotelbooking_domain_model_booking.submit')}"/>
                    </div>
                </div>
            </f:form>
        </div>
    </div>

</f:section>