{namespace rg=RGJL\HotelBooking\ViewHelpers}
<div class="tx-hotel-booking">
	<link rel="stylesheet" type="text/css" href="/typo3conf/ext/hotel_booking/Resources/Public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/typo3conf/ext/hotel_booking/Resources/Public/css/datepicker3.css">
	<link rel="stylesheet" type="text/css" href="/typo3conf/ext/hotel_booking/Resources/Public/css/fullcalendar.min.css">
	<link rel="stylesheet" type="text/css" href="/typo3conf/ext/hotel_booking/Resources/Public/css/be-module.css">

	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/jquery-1.11.3.min.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/bootstrap.min.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/json2.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/moment-2.8.3.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/bootstrap-datepicker.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/bootstrap-datepicker.fr.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/fullcalandar-fr.js"></script>
	<script src="/typo3conf/ext/hotel_booking/Resources/Public/javascript/ext-booking.js"></script>


	<div class="container">
		<div class="row">
			<div class="col-md-12" role="main">
				<f:render section="main" />
			</div>
		</div>
	</div>

</div>