
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Price</h1>

<f:flashMessages />

<table  class="tx_hotelbooking" >
	<tr>
		<th><f:translate key="tx_hotelbooking_domain_model_price.begin_date" /></th>
		<th><f:translate key="tx_hotelbooking_domain_model_price.end_date" /></th>
		<th><f:translate key="tx_hotelbooking_domain_model_price.day_price" /></th>
		<th><f:translate key="tx_hotelbooking_domain_model_price.week_price" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{prices}" as="price">
		<tr>
			<td><f:link.action action="show" arguments="{price : price}"> {price.beginDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{price : price}"> {price.endDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{price : price}"> {price.dayPrice}</f:link.action></td>
			<td><f:link.action action="show" arguments="{price : price}"> {price.weekPrice}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{price : price}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{price : price}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Price</f:link.action>
</f:section>