
<table class="tx-hotel-booking" >
	<tr>
		<td>
			<f:translate key="tx_hotelbooking_domain_model_user.first_name" />
		</td>
		<td>
		{user.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hotelbooking_domain_model_user.last_name" />
		</td>
		<td>
		{user.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hotelbooking_domain_model_user.email" />
		</td>
		<td>
		{user.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hotelbooking_domain_model_user.phone" />
		</td>
		<td>
		{user.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hotelbooking_domain_model_user.address" />
		</td>
		<td>
		{user.address}
		</td>
	</tr>
</table>